@page
@model WebApplication3.Pages.ResetPasswordModel
@{
}
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Reset Password </h1>

			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>


				<div class="mb-3">
					<label class="form-label" >Password</label>
					<input type="password" name="pw1" id="pw1" class="form-control" />
					<span  class="text-danger"></span>
				</div>

				@*Confirm Password field*@
				<div class="mb-3">
					<label class="form-label" >Confirm Password</label>
					<input type="password" name="pw2" id="pw2" class="form-control" />
					<span class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>